body {
    background-color: azure;
    color: black;
    justify-content: space-between;
    align-content: center;
}

button {
    background: azure;
    color: black;
    border-style: none;
}
.header {
    display: flex;
    align-items: center;
    padding: 6px;
    background: azure;
    color: black;
    border-style: none;
}
.right {
    position: absolute;
    top: -26px;
    width: 10%;
    margin-top: 46px;
    right: 12px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: 17%;
    margin-top: 22%;
    width: 51%;
}

/*.about {
    display: block;
    margin-left: auto;
    margin-right: 50%;
    margin-top: 50%;
    width: 50%;
}

.gmail {
    display: block;
    margin-left: 90%;
    margin-bottom: 50%;
    width: 50%;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: 50%;
    margin-top: 50%;
    width: 50%;
}

.store {

    display: block;
    margin-left: auto;
    margin-right: 50%;
    margin-top: 50%;
    width: 50%;
}

.about {
    display: block;
    margin-left: auto;
    margin-right: 50%;
    margin-top: 50%;
    width: 50%;
} revission, moved around the divs to get site to look more like google  */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20%;
}
.left2 {
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}
.middle {
    display: block;
    padding: 15px;
    white-space: nowrap;
}
.right2 {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}
.search {
    display: block;
    margin-left: auto;
    margin-right: 14%;
    margin-top: 0%;
    width: 65%;   
}

input {
    width: 65%
}